<style type='text/css'>
  
  .graf {
    text-align: center;
    width: 600px;
  }

  h1 {
    text-align: center;
  }
  .wax-legend .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
    }
  .wax-legend .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    }
  .wax-legend .legend-scale ul li {
    display: block;
    float: left;
    width: 50px;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    }
  .wax-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 50px;
    }
  .wax-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .wax-legend a {
    color: #777;
    }

</style>